*.vscode
build/*
include/youtubedownloader.h
include/workoutwidget.h
src/controls.cpp
src/downloadexercisedemandhandler.cpp
src/exerciseeditor.cpp
src/main.cpp
src/mainwindow.cpp
test/exerciseGUITest.cpp
test/exerciseViewerTest.cpp
test/profileEditorTest.cpp
test/workoutGenerationTest.cpp
test/workoutGenerationWidgetTest.cpp
test/workoutWidgetExerciseListTest.cpp
test/workoutWidgetTest.cpp
test/youtubeDownloadTest.cpp
test/dataIOTest.cpp
test/input/ExerciseDemand.xml
test/input/LaunchEditor.xml
test/input/profileEditorReadInTest.xml
test/input/ReadXMLAndPopulateExerciseList.xml
test/input/WorkoutGenerationTest.xml
test/input/WorkoutWidgetTest.xml
