
QDialog{ background: whitesmoke; color:black;}

QWidget{ background: whitesmoke; color:black;}

QMainWindow{background: whitesmoke; color:black;}

FreeFit--GUI--ProfileEditor QLabel#ProfileEditorLabel{color:red;}

FreeFit--GUI--ExerciseEditor FreeFit--GUI--MaterialButton{border:2px solid red; border-radius:5px;}